/* search bar */
input#search_input, button#search_button{
    border-color:  #ccc;
    background-color: #151c25;
    color: #ccc;
}

button#search_button:hover{
    background-color: #ccc;
    color: #151c25;
}

ul#movie_list li span img{
    border: 1px solid #ccc;
}

span.quickadd{
    background-color: #080f18;
    color: #ccc;
}

/* loading animation */
#thinker {
    background-color: #ccc;
}

/* specific movie details */
#overlay {
    background-color: #000;
}

#info_pop_up {
    background: #080f18;
    border-top: 1px solid #ccc;
}
