#header{
    background-color: #151c25;
    border-bottom: 1px solid #ccc;
}

#nav > a > li:hover, #nav > li:hover{
    border-bottom: 4px solid #ccc;
}

#nav li.current{
    border-bottom: 4px solid #ccc;
}

/* Dropdown Settings Menu */

#nav ul.settings_menu{
    background: #151c25;
    border: 1px solid #ccc;
}

#nav ul.settings_menu li:hover{
    background-color: #080f18;
    color: #fff;
}
