input[type="number"], input[type="text"]{
    border: 1px solid #ccc;
    background-color: #151c25;
}

select{
    border: 1px solid #ccc;
    background-color: #151c25;
    color: #ccc;
}

div#content ul li.bbord{
    border-bottom: 1px solid #bdbdbd;
}

div#content ul li.rbord{
    border-right: 1px solid #bdbdbd;
}

div#content ul li.lbord{
    border-left: 1px solid #bdbdbd;
}

div.quality ul.quality_profile{
    background-color: #151c25;
}

div.quality ul.quality_profile input{
    background-color: #080f18;
}

/* For log file viewing */
pre#log_display {
    border: 1px solid #ccc;
    background-color: #151c25;
}
