ul#movie_list li div span.status{
    color: #080f18;
}

/* Posters layout */
ul#movie_list.posters li div span.status{
    border-color: #212121;
}

ul#movie_list.posters li div img{
    border-color: #212121;
}

/* List layout */
ul#movie_list.list{
    border: none;
}

ul#movie_list.list li:nth-child(odd) div{
    background-color: #151c25;
}

/* Compact layout */
ul#movie_list.compact{
    border: none;
}

ul#movie_list.compact li div{
    border-color: #080f18; /* border: none breaks layout */
}

ul#movie_list.compact li:nth-child(odd) div{
    background-color: #151c25;
}

/* status colors */
ul#movie_list li div span.wanted{
    background-color: #FF9800;
}

ul#movies_list li div span.searching{
    background-color: #FFC107;
}

ul#movie_list li div span.found{
    background-color: #CDDC39;
}

ul#movie_list li div span.snatched{
    background-color: #00BCD4;
}

ul#movie_list li div span.finished{
    background-color: #4CAF50;
}

ul#movie_list li div img{
    border-color: #ffffff;
}

/* specific movie details */
#overlay {
    background-color: #000;
}

#status_pop_up {
    background: #080f18;
    border-top: 1px solid #ccc;
}
