/*
#151c25 Dark Blue BG
#080f18 Darker Blue BG
#cccccc Light Gray Text/Border

*/

@import url("header.css");

body{
    color: #ccc;
}
body{
    background-color: #080f18;
}

input{
    color: #ccc;
}

::selection {
    background: #ccc; /* WebKit/Blink Browsers */
    color: #080f18;
}
::-moz-selection {
    background: #080f18; /* Gecko Browsers */
    color: #080f18;
}

a {
    color: #ccc;
}

ul{
    list-style: none;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track:hover{
     background-color: #080f18;
}
::-webkit-scrollbar-thumb {
    background: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-thumb:active {
    background: #ccc;
}

div.sweet-alert{
    color: #080f18;
}
