/* search bar */
#search_box{
    margin: 0 auto;
    width: 60%;
    max-width: 1024px;
    clear: both;
}

input#search_input{
    height: 32px;
    width: calc(100% - 65px);
    font-size: 2em;
    padding: 8px;
    margin: 0;
    border-style: solid;
    border-color:  #212121;
    background-color: #ffffff;
    border-width: 1px 0px 1px 1px;
    outline: none;
    font-family: Raleway, sans-serif;
}

button#search_button{
    float: right;
    width: 48px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: white;
    border-style: solid;
    border-color:  #212121;
    border-width: 1px 1px 1px 0px;
    outline: none;
    border-radius: 0px;
    vertical-align: inherit;
    line-height: 50px;
}

button#search_button:hover{
    background-color: #212121;
    color: #fff;
}

button#search_button i{
    vertical-align: inherit;
}

/* results fade-in */
#database_results{
    display: none;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 0 2em 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#movie_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#movie_list li{
    width: 200px;
    float: left;
    margin: 20px;
    text-align: center;
    position: relative;
}

ul#movie_list li span img{
    width: 100%;
    height: 300px;
    margin: 0 0 5px 0;
    float: left;
    cursor: pointer;
    border: 1px solid #bdbdbd;
}

span.quickadd{
    position: absolute;
    cursor: pointer;
    background-color: #212121;
    bottom: 4em;
    left: 0;
    padding: 0.25em .4em .25em 0.4em;
    color:  white;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 0 .5em .5em 0;
    overflow: hidden;
}

span.quickadd_text{
    display: none;
    text-overflow: clip;
    overflow-x: hidden;
    float: left;
}

i.button_add{
    margin-left: 0.4em;
}


/* loading animation */
#thinker {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background-color: #333;
    display: none;
    position:absolute;
    bottom: calc(50% - 20px);
    right: calc(50% - 20px);
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    border-radius: 50%;
    opacity: 0.5;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% { -webkit-transform: scale(2.0);
        opacity: 0;
        }
}

@keyframes sk-scaleout {
    0% { -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% { -webkit-transform: scale(2.0);
            transform: scale(2.0);
            opacity: 0;
            }
}

/* specific movie details */
#overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index:1001;
    opacity: 0.95;
}

#info_pop_up {
    background: white;
    border-top: 1px solid #bdbdbd;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index:1002;
}
