#header{
    background-color: #eee;
    height: 64px;
    padding: 0;
    margin: 0 0 16px 0;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    clear: both;
}

#header_container{
    max-width: 1024px;
    margin: 0 auto;
}

#header img{
    padding-left: 8px;
}

#nav{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav li{
    float: right;
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
    font-size: 1.5em;
    box-sizing: border-box;
}

#nav > a > li:hover, #nav > li:hover{
    border-bottom: 4px solid #bdbdbd;
}

#nav li.current{
    border-bottom: 4px solid #f4693b;
}

/* Dropdown Settings Menu */

#nav li.settings{
    position: relative;
}

#nav ul.settings_menu{
    display: none;
    position: absolute;
    background: #eeeeee;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0;
}

#nav ul.settings_menu li{
    margin: 0;
    padding: 0;
    height: 2em;
    line-height: 2em;
    font-size: 0.60em;
    display: block;
    text-align: left;
    width: 100%;
    float: none;
}

#nav ul.settings_menu li i{
  font-size: 0.9em;
  margin: 0 0 0 0.5em;
}

#nav ul.settings_menu li:hover{
    background-color: #f4693b;
    color: white;
}

#nav li.settings:hover .settings_menu{
    display: block;
    z-index: 1;
}

/* Notifications */

ul#notif_list{
    position: absolute;
    bottom: 0;
    left: 0;
    list-style: none;
}

ul#notif_list li{
    background: #eeeeee;
    border: 1px solid #bdbdbd;
    padding: 0.5em;
    position: relative;
    width: 20em;
    margin: 8px
}

ul#notif_list li span{
    vertical-align: middle;
}

ul#notif_list li div.notif_title{
    margin: 0 0 0.5em 0;
}

ul#notif_list li div.notif_title i{
    background: #de3e65; /* Old browsers */
    background: -moz-linear-gradient(top,  #de3e65 0%, #f4693b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #de3e65 0%,#f4693b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #de3e65 0%,#f4693b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de3e65', endColorstr='#f4693b',GradientType=0 ); /* IE6-9 */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
}

ul#notif_list li div.notif_title span{
    margin: 0 0 0 0.5em;
    font-size: 1.25em;
}

ul#notif_list li div.notif_text{
    font-size: 0.8em;
    vertical-align: middle;
    margin: 0 0 0 0.25em;
    word-wrap: normal;
}

ul#notif_list li div.notif_close{
    float: right;
    width: 1em;
    vertical-align: middle;
}

ul#notif_list li div.notif_footer{
    margin-top: 0.5em;
    font-size: 1em;
    overflow: hidden;
}

ul#notif_list li div.notif_footer i{
    font-size: 1em;
}

ul#notif_list li div.notif_footer span.dismiss{
    float: left;
    cursor: pointer;
}

ul#notif_list li div.notif_footer a.button{
    float: right;
}
