#header{
    background-color: #eee;
    height: 64px;
    padding: 0;
    margin: 0 0 16px 0;
    width: 100%;
    border-bottom: 1px solid #bdbdbd;
    clear: both;
}

#header_container{
    max-width: 1024px;
    margin: 0 auto;
}

#header img{
    padding-left: 8px;
}

#nav{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav li{
    float: right;
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
    font-size: 1.5em;
    box-sizing: border-box;
}

#nav li:hover{
    border-bottom: 4px solid #bdbdbd;
}

#nav li.current{
    border-bottom: 4px solid #f4693b;
}
