i{
    font-size: 1.5em;
}

input[type="number"], input[type="text"]{
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
}

div#container{
    padding: 1em;
    max-width: 912px;
    margin: 0 auto;
}

div#title p{
    padding: 0;
    margin: 0 0 1em 0;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

div#title span#title{
    font-size: 2em;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#title p i{
    float: right;
}

button{
    height: 2em;
    line-height: 2em;
    margin: 0 0 0 1em;
    background-color: white;
    border: 1px solid #212121;
    outline: none;
    font-size: 1.0em;
    cursor: pointer;
}

button:hover{
    background-color: #212121;
    color: #fff;
}

i#button_submit{
    display: none;
}

div#media{
    margin: 0 0 1em 0;
    overflow: hidden;
}

div#media img#poster{
    height: 360px;
    float: left;
    max-width: 255px;
}

div#trailer_container{
    float: right;
    position: relative;

}

iframe#trailer{
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('../images/logo_bg.png') no-repeat 50% 50% #eeeeee;
}

/* Quality slide in panel */
ul#quality{
    position: absolute;
    width: 640px;
    height: 360px;
    top: 0px;
    right: 0px;
    display: none;
    clear: none;
}
ul#quality li{
    height: 2.5em;
    line-height: 2.5em;
}

ul#quality li.rbord{
    border-right: 1px solid #bdbdbd;
}

ul#quality .sub_cat{
    line-height: 2.5em;
}

ul#resolution{
    width: 30%;
    margin: 0 5% 0 0;
    float: left;
}

ul#resolution_size{
    width: 65%;
    float: right;
}

ul#resolution_size li span{
    width: 3em;
    display: inline-block;
}


ul#filters{
    clear: both;
    padding: 1em 0 0 0;
}



div.hidden_data{
    display: none;
}

/* Bottom row info */
div#plot{
}

div#plot p{
    font-size: 1.25em;
}

div#additional_info p{
    padding: 0;
    margin: 0 1em 1em 0;
    float: left;
}

div#hidden_data{
    display: none;
    width: 0;
    height: 0;
}
