i{
    font-size: 1.5em;
}

div#container{
    padding: 1em;
    max-width: 912px;
    margin: 0 auto;
}

div#title p{
    padding: 0;
    margin: 0 0 1em 0;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

div#title span#title{
    font-size: 2em;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#title p i{
    float: right;
}

button{
    height: 2em;
    line-height: 2em;
    margin: 0 0 0 1em;
    background-color: white;
    border: 1px solid #212121;
    outline: none;
    font-size: 1.0em;
    cursor: pointer;
}

button:hover{
    background-color: #212121;
    color: #fff;
}

i#button_submit{
    display: none;
}

div#media{
    margin: 0 0 1em 0;
    overflow: hidden;
}

div#media img#poster{
    height: 360px;
    float: left;
    max-width: 255px;
}

iframe#trailer{
    top: 0px;
    right: 0px;
    background: url('../../images/logo_bg.png') no-repeat 50% 50% #eeeeee;
}

/* Bottom row info */
div#plot{
}

div#plot p{
    font-size: 1.25em;
}

div#additional_info p{
    margin: 0 1em 1em 0;
    float: left;
}
