i{
    font-size: 1.5em;
}

.bold{
    font-weight: bold;
}

input[type="number"], input[type="text"]{
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
}

div#container{
    padding: 1em;
    max-width: 912px;
    margin: 0 auto;
    overflow: hidden;
}

div#title p{
    padding: 0;
    margin: 0 0 1em 0;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

div#title span#title{
    font-size: 2em;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

div#title i{
    float: right;
    margin-left: 0.5em;
}

i#save_quality{
    display: none;
}

div#media{
    margin: 0 0 1em 0;
    overflow: hidden;
}

div#media img#poster{
    height: 360px;
    float: left;
    max-width: 255px;
}

div#search_results {
    float: right;
    width: 640px;
    height: 360px;
    position: relative;
}

ul#result_list{
    border: 1px solid #bdbdbd;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .9em;
    overflow-y: scroll;
    height: 360px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 99%;
    width: 100%;
}

ul#result_list li{
    overflow: hidden;
}

ul#result_list li.title{
    height: 1.5em;
    font-size: 1.2em;
    padding: .25em .25em 0em .25em;
}

ul#result_list li span.name{
    width: 540px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

ul#result_list li span.buttons{
    float: right;
}

ul#result_list li i{
    margin: 0 0 0 .25em;
    padding: 0;
    width: 1em;
    font-size: 1em;
}

ul#result_list li.data{
    padding: 0 .25em .25em .25em;
    font-size: .9em;
}

ul#result_list li.bbord{
    border-bottom: 1px solid #bdbdbd;
}

span.bad{
    color: #F44336;
}

li.data span.snatched{
    color: #00BCD4;
}

li.data span.finished{
    color: #4CAF50;
}

div#results_thinker{
    display:none;
    height: 40px;
    width: 40px;
    margin: 150px auto;
    background-color: #333;
    right: calc(50% - 20px);
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    border-radius: 50%;
}

/* Quality slide in panel */
ul#quality{
    display: none;
    position: absolute;
    width: 640px;
    height: 360px;
    top: 0px;
    left: 1em;
    clear: none;
}

ul#quality li{
    height: 2.5em;
    line-height: 2.5em;
}

ul#quality li.rbord{
    border-right: 1px solid #bdbdbd;
}

ul#quality .sub_cat{
    line-height: 2.5em;
}

ul#resolution{
    width: 30%;
    margin: 0 5% 0 0;
    float: left;
}

ul#resolution_size{
    width: 65%;
    float: right;
}

ul#resolution_size li span{
    width: 3em;
    display: inline-block;
}


ul#filters{
    clear: both;
    padding: 1em 0 0 0;
}


@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% { -webkit-transform: scale(2.0);
        opacity: 0;
        }
}

@keyframes sk-scaleout {
    0% { -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% { -webkit-transform: scale(2.0);
            transform: scale(2.0);
            opacity: 0;
            }
}

div#plot{
}

div#plot p{
    font-size: 1.25em;
}

div#additional_info{
    height: 2em;
}

div#additional_info span{
    padding: 0;
    margin: 0 1em 0em 0;
    line-height: 2em;
    float: left;
}

div#additional_info button{

}

div#hidden_data{
    display: none;
    width: 0;
    height: 0;
}
