ul{
    clear: none;
}

div#container i{
    font-size: 1.5em;
}

.bold{
    font-weight: bold;
}

div#container{
    padding: 1em;
    max-width: 912px;
    margin: 0 auto;
}

div#title p{
    margin: 0 0 1em 0;
    height: 2em;
    line-height: 2em;
}

div#title span#title{
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

div#title span#year{
    font-size: 1.25em;
    opacity: 0.65;
    margin-left: 0.25em;
}

div#title i{
    float: right;
    margin-left: 0.5em;
}

div#media{
    margin: 0 0 1em 0;
    overflow: hidden;
}

div#media img#poster{
    height: 360px;
    float: left;
    max-width: 255px;
    border-radius: 4px;
}

div#search_results {
    float: right;
    width: 640px;
    height: 360px;
    position: relative;
}

ul#result_list{
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    font-size: .9em;
    overflow-y: scroll;
    height: 360px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 99%;
    width: 100%;
}

ul#result_list li{
    overflow: hidden;
}

ul#result_list li.title{
    height: 1.5em;
    font-size: 1.2em;
    padding: .25em .25em 0em .25em;
}

ul#result_list li span.name{
    width: 540px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

ul#result_list li span.buttons{
    float: right;
}

ul#result_list li i{
    margin: 0 0 0 .25em;
    padding: 0;
    width: 1em;
    font-size: 1em;
}

ul#result_list li.data{
    padding: 0 .25em .25em .25em;
    font-size: .9em;
}

ul#result_list li.bbord{
    border-bottom: 1px solid #bdbdbd;
}

span.bad{
    color: #F44336;
}

li.data span.snatched{
    color: #00BCD4;
}

li.data span.finished{
    color: #4CAF50;
}

div#results_thinker{
    display:none;
    height: 40px;
    width: 40px;
    margin: 150px auto;
    background-color: #333;
    right: calc(50% - 20px);
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    border-radius: 50%;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% { -webkit-transform: scale(2.0);
        opacity: 0;
        }
}

@keyframes sk-scaleout {
    0% { -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% { -webkit-transform: scale(2.0);
            transform: scale(2.0);
            opacity: 0;
            }
}

div#plot{
}

div#additional_info{
    height: 2em;
}

div#additional_info i#predb{
    float: left;
    font-size: 1em;
    margin-right: 0.5em;
    line-height: 2em;
}

div#additional_info span{
    padding: 0;
    margin: 0 1em 0em 0;
    line-height: 2em;
    float: left;
}

div#options{
    height: 2em;
    line-height: 2em;
}

div#options span, div#options i{
    line-height: 2em;
    vertical-align: middle;
    margin-right: 1em;
}

div#options i{
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}
