input[type="number"], input[type="text"]{
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
    height: 1.5em;
    padding: 0 0.5em;
}

input[type='text']{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.75em;
    height: 2.0em;
}

select{
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
    height: 2em;
    font-size: 0.85em;
    font-family: "Lucida Console", Monaco, monospace;
}

i{
    margin: 0 0 0 0;
    font-size: 1.5em;
}

h1{
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    display: inline-block;
}

ul{
    clear: none;
}

div#content{
    margin: 1.5em auto 0 auto;
    width: 80%;
    max-width: 1024px;
    clear: both;
}

div#content a{
    font-weight: bold;
}

div#content ul.wide{
    max-width: 1024px;
    min-width: 640px;
    margin: 0 0 2.5em 0;
}

div#content ul li{
    padding: 0;
    line-height: 2.5em;
}

div#content ul li.hidden{
    display:none;
}

div#content ul li.bbord{
    border-bottom: 1px solid #bdbdbd;
}

div#content ul li.rbord{
    border-right: 1px solid #bdbdbd;
}

div#content ul li.lbord{
    border-left: 1px solid #bdbdbd;
}

.sub_cat{
    font-size: 1.125em;
    font-weight: 700;
    height: 2.5em;
    line-height: 2.5em;
}

/* server */
span#restart, span#shutdown{
    margin: 0 1em 0 0;
    cursor: pointer;
}

span#update_check{
    cursor: pointer;
}

/* Search */
input#retention{
    width: 4em;
}

/* Providers */

div#content ul#providers{
    overflow: hidden;
}

div#content ul#newznab_list{
    float: left;
    width: 100%;
}

ul#newznab_list li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


i.newznab_check{
    width: 1.2em;
    text-align: left;
    flex: 0 1 auto;
}

i.newznab_clear, i.newznab_test{
    width: 1.5em;
    text-align: center;
    flex: 0 1 auto;
}

input.newznab_url, input.newznab_api{
    flex: 1 0 auto;
    margin: 0 0.5em;
}

li#add_newznab_row{
    margin: 0 0 2em 0;
}


/* Quality */

ul#quality{
    overflow: hidden;
}

ul#resolution{
    width: 30%;
    margin: 0 5% 0 0;
    float: left;
}

ul#resolution li{
    height: 2.5em;
    line-height: 2.5em;
}

ul#resolution_size li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul#resolution_size li span{
    width: 6em;
}

ul#resolution_size li input{
    order: 0;
    flex: 1 0 auto;
    margin: 0 1em;
}

ul#filters li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

ul#filters li span{
    order: 0;
    flex: 0 1 auto;
}

ul#filters li input{
    order: 0;
    flex: 1 0 auto;
    margin: 0 1em;
}

div.hidden_data{
    display: none;
}

/* downloader */
ul#downloader{

}

ul#sabnzbd, ul#nzbget{
    margin: 0 0 1em 2em;
    display: none;
    width: 100%;

}

span.test_connection{
    cursor: pointer;
}

/* post processing */
ul#postprocessing{
    margin-bottom: 2.5em;
}

ul#renamer, ul#mover{
    margin: 0 0 1em 2em;
    width: 100%;
}

ul#postprocessing li span.taglist{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .75em;
}

/* logs */

div.logs i{
    font-size: 1em;
}

div.logs{
    display: inline-block;
}

div.logs .bold{
    font-weight: bold;
}

div.logs p{
    margin-bottom: 2em;
}

span.log_dir{
    font-family: monospace;
}

select{
    margin: 0 1.5em 2em 0;

}

 span#view_log, span#download_log{
    margin-right: 1.5em;
    cursor: pointer;
}


pre#log_display {
    display: none;
    padding: 3px;
    font-family: monospace;
    font-size: 0.75em;
    max-width: 1024px;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    white-space: pre-wrap;
    text-indent: 2em;
}

/* about */
div.about p{
    padding-left: 1em;
    text-indent: 1em;
    line-height: 1.25em;
}

ul#libraries{
    margin-left: 1em;
}

ul#libraries li{
    width: 30%;
    float: left;
}

/**/
span.tip{
    font-size: 0.75em;
    margin: 0 0.25em 0 2em;
    height: 2.5em;
    text-align: right;
    float: right;
    font-weight: 500;
}

div#footer{
    position: fixed;
    bottom: 1em;
    left: 1em;
}
