input[type="number"], input[type="text"]{
    font-family: "Lucida Console", Monaco, monospace;
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
    height: 1.5em;
    padding: 0.1em 0.5em;
    font-size: .85em;
}

select{
    height: 2em;
    font-size: 0.85em;
}

i{
    margin: 0 0 0 0;
    font-size: 1.5em;
}

h1{
    font-size: 2em;
    font-weight: 700;
    margin: 0.5em 0 0.5em 0;
    display: inline-block;
}

h2{
    font-size: 1.35em;
    padding: 0;
    margin: 1.5em 0 .25em 0;
}

.bold{
    font-weight: bold;
}

ul{
    clear: none;
    list-style: none;
}

div#content{
    margin: 1.5em auto 1.5em auto;
    width: 80%;
    max-width: 1024px;
    clear: both;
}

div#content a{
    font-weight: bold;
}

div#content ul.wide{
    max-width: 1024px;
    min-width: 640px;
}

div#content ul li{
    padding: 0;
}

.bbord{
    border-bottom: 1px solid #252c35;
    display: block;
}

span.bbord{
    margin: 0;
    padding: 0;
}

div#content ul li.rbord{
    border-right: 1px solid #bdbdbd;
}

div#content ul li.lbord{
    border-left: 1px solid #bdbdbd;
}

div#content ul li.indent{
    margin-left: 2em;
}

.sub_cat{
    font-size: 1.125em;
    font-weight: 700;
    height: 2.5em;
    line-height: 2.5em;
}

/* server */
div.server li{
    line-height: 2.5em;
}

div.server span#restart, span#shutdown{
    margin: 0 1em 0 0;
    cursor: pointer;
}

div.server span#update_check{
    cursor: pointer;
}

/* Search */
div.search li{
    line-height: 2.5em;
}

input#retention{
    width: 4em;
}

/* Quality */

div.quality li{
    line-height: 2.5em;
}

div.quality ul.quality_profile{
    margin-bottom: 2em;
    padding: 0 1em 1em 1em;
}

div.quality li.name{
    font-size: 1.5em;
    font-weight: bold;
}

div.quality li.name input{
    font-size: 0.65em;
    height: 1.75em;
    vertical-align: middle;
}

div.quality ul#quality{
    overflow: hidden;
}

div.quality ul.quality_profile{
    background-color: #eee;
    border-radius: 4px;
}

div.quality ul.quality_profile input{
    background-color: #fff;
}

div.quality div.delete_profile{
    float: right;
    font-size: 1rem;
}

div.quality ul#resolution{
    width: 30%;

    float: left;
}

div.quality ul#resolution li{
    height: 2.5em;
    line-height: 2.5em;
}

div.quality ul#resolution_size li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.quality ul#resolution_size li span{
    min-width: 1em;
    text-align: center;
    flex: 0 1 auto;
    align-self: auto;
}

div.quality ul#resolution_size li span:nth-child(1){
    min-width: 5em;
}

div.quality ul#resolution_size li input{
    flex: 1 0 auto;
    align-self: auto;
}

div.quality ul#filters{
    margin: 1em 0 1em 0;
}

div.quality ul#filters li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.quality ul#filters li span{
    flex: 0 1 auto;
}

div.quality ul#filters li span:nth-child(1){
    width: 8em;
}

div.quality ul#filters li input{
    flex: 1 0 auto;
    margin: 0 1em;
    max-width: 24em;
}

div.quality div#add_new_profile{
    margin: 0 0 2.5em 0;
}

/* Providers */

div.providers li{
    line-height: 2.5em;
}

div.providers ul#providers{
    overflow: hidden;
}

div.providers ul#newznab_list,
div.providers ul#potato_list,{
    float: left;
    width: 100%;
}

div.providers ul#newznab_list li,
div.providers ul#potato_list li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


div.providers i.newznab_check,
div.providers i.potato_check,
div.providers i.torrent_check{
    width: 1.2em;
    text-align: left;
    flex: 0 1 auto;
}

div.providers i.newznab_clear, div.providers i.newznab_test,
div.providers i.potato_clear, div.providers i.potato_test{
    width: 1.5em;
    text-align: center;
    flex: 0 1 auto;
}

div.providers input.newznab_url, div.providers input.newznab_api,
div.providers input.potato_url, div.providers input.potato_api{
    flex: 1 0 auto;
    margin: 0 0.5em;
}

div.providers li.add_newznab_row,
div.providers li.add_potato_row{
    margin: 0 0 2em 0;
}


/* downloader */

div.downloader li{
    line-height: 2.5em;
}

ul#enabled_source span{
    margin: 0 2em 0 0;

}

ul#usenet, ul#torrent{
    margin: 0 0 2em 0;
}

ul#sabnzbd, ul#nzbget, ul#transmission, ul#delugerpc, ul#delugeweb, ul#qbittorrent{
    margin: 0 0 1em 2em;
    display: none;
}

span.test_connection{
    cursor: pointer;
}

/* post processing */
div.postprocessing li{
    line-height: 2.5em;
}

ul#postprocessing{
    margin-bottom: 2.5em;
}

ul#renamer, ul#mover{
    margin: 0 0 1em 2em;
}

ul#postprocessing li span.taglist{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: .75em;
}

ul#remote_mapping li:nth-child(1){
    font-size: 0.8em;
}

ul#remote_mapping li.remote_mapping_row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.25em 0;
}

ul#remote_mapping li.remote_mapping_row span{
    flex: 0 1 auto;
    margin-right: 0.5em;
}

ul#remote_mapping li.remote_mapping_row input{
    flex: 1 0 auto;
    margin-right: 1.5em;
}

span.charlist{
    font-family: "Lucida Console", Monaco, monospace;
}

/* plugins */

div.plugins ul{
    font-size: 1.5em;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #eee;
    border-radius: 4px;
}

div.plugins ul li{
    padding: 0;
    margin: 0;
    line-height: 1.75em;
}

div.plugins ul li i{
    font-size: 1.25rem;
}

div.plugins ul li span{
    font-size: 1.25rem;
}

div.plugins ul li i.edit_conf{
    float: right;
}

#plugin_conf_popup {
    background: white;
    border-top: 1px solid #bdbdbd;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index:1002;
}

/* logs */

div.logs i{
    font-size: 1em;
}

div.logs .bold{
    font-weight: bold;
}

div.logs p{
    margin-bottom: 2em;
}

span.log_dir{
    font-family: monospace;
}

div#log_actions{
    margin: 0 1.5em 2em 0;
}

 select#log_file, span#view_log, span#download_log{
    margin-right: 1.5em;
    cursor: pointer;
}


pre#log_display {
    display: none;
    padding: 3px;
    font-family: monospace;
    font-size: 0.75em;
    max-width: 1024px;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-indent: 2em;
}

/* about */
div.about p{
    padding-left: 1em;
    text-indent: 1em;
    line-height: 1.25em;
}

ul#libraries{
    margin-left: 1em;
}

ul#libraries li{
    width: 30%;
    float: left;
}

/**/
span.tip{
    font-size: 0.75rem;
    margin: 0 0.25em 0 2em;
    height: 2.5em;
    text-align: right;
    float: right;
    font-weight: 500;
}

div#save{
    display: inline-block;
    margin-top: 3em;
    cursor: pointer;
    clear: both;
}
