div#content{
    margin: 0 auto;
    width: 60%;
    max-width: 1024px;
    min-width: 650px;
}

div#view_config{
    height: 3em;
    line-height: 3em;

}

ul#movie_list{
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
}

/* Posters layout */
ul#movie_list.posters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

ul#movie_list.posters li div{
    width: 168px;
    padding: 6px 6px 0px 6px;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}

ul#movie_list.posters li div span.status{
    height: 24px;
    line-height: 24px;
    width: 100%;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #212121;
    display: block;
    text-align: center;
}

ul#movie_list.posters li div img{
    width: 100%;
    height: 256px;
    margin: 0;
    padding: 0;
    border-width: 0px 1px 1px 1px;
    border-color: #212121;
    border-style: solid;
}

ul#movie_list.posters li span.title{
    margin: 0;
    padding: 0;
    display: block; /* needed for width */
    text-align: center;
}

ul#movie_list.posters li span.title span.tomatorating,
ul#movie_list.posters li span.title span.rated{
    display: none;
}

/* List layout */
ul#movie_list.list{
    border: 1px solid #eee;
}

ul#movie_list.list li{
    cursor: pointer;
}

ul#movie_list.list li div{
    height: 64px;
    padding: 0.5em;
}


ul#movie_list.list li:nth-child(odd) div{
    background-color: #eee;
}

ul#movie_list.list li div span.status{
    font-size: 0.8em;
    transform: rotate(90deg);
	transform-origin: left top 0;
    display: block;
    height: 2.5em;
    line-height: 2.5em;
    width: 64px;
    text-align: center;
    float: left;
    margin: 0 -80px 0 32px;
}

ul#movie_list.list li div img{
    float: left;
    height: 100%;
    width: 42px;
    margin: 0 1em 0 28px;
}

ul#movie_list.list li span.title{
    display: block;
    font-size: 1.5em;
    line-height: 32px;
    white-space: nowrap;;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul#movie_list.list li span.title span{
    font-size: 0.75em;
    opacity: 0.65;
    margin-right: 0.5em;
}

/* Status colors */
ul#movie_list li div span.wanted{
    background-color: #FF9800;
}

ul#movies_list li div span.searching{
    background-color: #FFC107;
}

ul#movie_list li div span.found{
    background-color: #CDDC39;
}

ul#movie_list li div span.snatched{
    background-color: #00BCD4;
}

ul#movie_list li div span.finished{
    background-color: #4CAF50;
}

/* specific movie details */
#overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index:1001;
    opacity: 0.95;
}

#status_pop_up {
    background: white;
    border-top: 1px solid #bdbdbd;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: none;
    z-index:1002;
}
