@import url("header.css");

body, html{
    width: 100%;
    min-width: 918px;
    min-height: 100%;
}

body, input{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a{
    text-decoration: none;
}

i{
    cursor: pointer;
    vertical-align: middle;
}

ul{
    list-style: none;
    clear: both;
    padding: 0;
    margin: 0;
}

input{
    outline: none;
}

button{
    height: 2em;
    line-height: 2em;
    margin: 0 0 0 1em;
    background-color: white;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 1.0em;
    cursor: pointer;
}

select{
    border-radius: 4px;
    font-family: "Lucida Console", Monaco, monospace;
    border: 1px solid #212121;
    outline: none;
    background-color: #eeeeee;
}

.hidden{
    display: none;
}

div#overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index:1001;
    opacity: 0.95;
}

::selection {
  background: #f4693b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f4693b; /* Gecko Browsers */
}

a {
    color: #212121;
}

a:visisted {
    color: #212121;
}

::-webkit-input-placeholder {
    font-style: italic;
    opacity: 0.5;
}
::-moz-placeholder {
    font-style: italic;
    opacity: 0.5;
}
:-ms-input-placeholder {
    font-style: italic;
    opacity: 0.5;
}
:-moz-placeholder {
    font-style: italic;
    opacity: 0.5;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #212121;
  border: none;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
::-webkit-scrollbar-thumb:active {
  background: #212121;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: transparent;
  border: none;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
