@import url("header.css");

html{
    padding-bottom: 3em;
    height: 100%;
}

body, input{
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
}

body {
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    min-height: 100%;
    position: relative;    
}

a{
    text-decoration: none;
}

i{
    cursor: pointer;
    vertical-align: middle;
}

button{
    border-radius: 4px;
}

::selection {
  background: #f4693b; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #f4693b; /* Gecko Browsers */
}

a {
    color: #212121;
}

a:visisted {
    color: #212121;
}

#content {
    padding-bottom: 100px;
}

.footer {
    width: 100%;
    padding: 20px 0;
    color: #aaa;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}
.footer a{
    text-decoration: underline !important;
    color: #aaa;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #212121;
  border: none;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212121;
}
::-webkit-scrollbar-thumb:active {
  background: #212121;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
